@model MyNoddyStore.Models.CartIndexViewModel
@{
    ViewBag.Title = "Supermarket Sweep: Your Cart";
}

<div>
    <div id="cartTableWrapper">
        <h2>Your cart</h2>
        <table id="cartTable" class="table fixed_headers">
            <thead>
                <tr>
                    <!-- First column header is not rotated -->
                    <th class="itemth"><div><span>Item</span></div></th>
                    <th class="rotate-45 priceth"><div><span><br>Price (£)</span></div></th>
                    <th class="rotate-45 qntyth"><div><span>Quantity</span></div></th>
                    <th class="rotate-45 subtotth"><div><span><br>Subtotal (£)</span></div></th>
                    <!-- Last column header is not rotated -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Cart.Lines)
                {
                    <tr>
                        <td class="text-left itemtd">@line.Product.Name</td>
                        <td class="text-right pricetd">@line.Product.Price.ToString()</td>
                        <td class="text-right qntytd">@line.Quantity</td>
                        <td class="text-right subtottd">
                            @((line.Quantity * line.Product.Price).ToString())
                        </td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "Cart"))
                            {
                                @Html.Hidden("ProductId", line.Product.ProductID)
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input class="btn btn-sm btn-warning" type="submit" value="Remove" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="tablefoot">
                    <td class="text-left itemtd">Total:</td>
                    <td class="text-right pricetd"></td>
                    <td class="text-right qntytd">@Model.Cart.ComputeTotalQuantities().ToString()</td>
                    <td class="text-right subtottd">
                        @Model.Cart.ComputeTotalValue().ToString("c0")
                    </td>
                    <td class="hidden"></td>
                </tr>
            </tfoot>
        </table>
        <br/>
        <p class="myUserFontColor msgSummaryContainer" style="font-weight:700; padding-left:0.5em;">
            Your cart: @Model.Cart.ComputeTotalQuantities().ToString() item(s), @Model.Cart.ComputeTotalValue().ToString("c0").<br />
            NPC cart: @Model.Cart.ComputeTotalQuantitiesOther().ToString() item(s), @Model.Cart.ComputeTotalValueOther().ToString("c0").
        </p>
    </div>
</div>
<div class="text-center">

</div>
<div class="text-center pad-above-button-group">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "CheckoutCaller", null, new { @class = "btn btn-primary", id = "btnCheckout2" })
</div>

<script>
    $(window).on("load", SetTableClassFn);    //same as calling this:- $( document ).ready( SetTableClassFn );
    $(window).on("resize", SetTableClassFn);

    //for anything smaller than 768 px inclusive, switch to mobile view.
    function SetTableClassFn() {
        if ($(window).width() < 768) {
            $('#cartTable').addClass('table-header-rotated');
            $('#cartTable').removeClass('table-header-horiz');
        } else {
            $('#cartTable').addClass('table-header-horiz');
            $('#cartTable').removeClass('table-header-rotated');
        }
    }

</script>

