@model MyNoddyStore.Entities.Product


@using (Html.BeginForm("UpdateCart", "Cart"))
{
    <div class="well well-sm mainchilddiv" name="mainchilddiv">

        <div class="myimg">
            <img class="myimgitem" src="@Url.Content(String.Format("~/Images/{0}.png", Model.Picture))" alt="No Image" />
        </div>
        <div class="myname">
            <div style="position: absolute; display:inline"><strong>@Model.Name</strong><span id="longStock"> Stock:@Model.StockCount.ToString()</span><span id="shortStock"> (@Model.StockCount.ToString())</span></div>
        </div>
        <div class="mystockmsg" style="text-align:right;">
            <span name="statusmsgspan" class="stock-message"></span>
        </div>
        <div class="mystatusmsg">
            <span name="stockmsgspan" class="status-message"></span>
        </div>
        <div class="myprice">
            <span class="label priceClass label-info">@Model.Price.ToString("c")</span>
        </div>

        <div class="mydesc">
            <span id="shortDesc">@Model.ShortDescription</span><span id="desc">@Model.Description</span>
        </div>
        <div class="quantity">
            <div id="quantityContainer">
                <span>Quantity</span><span id="quantityLineBrk"><br /></span>
                    <div id="plusminuswrapper">
                        <button class="minus-btn" type="button" name="minusbutton">
                            <img src="~/Images/minus.svg" alt="-" />
                        </button>
                        <input type="text" class="textclass" name="MyQuantity" size="1" width="50" readonly="readonly" value="@Model.MyQuantity.ToString()">
                        <button class="plus-btn" type="button" name="plusbutton">
                            <img src="~/Images/plus.svg" alt="+" />
                        </button>
                    </div>
            </div>
        </div>
        <div class="myupdbtn">
            @Html.HiddenFor(x => x.ProductID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            @Html.Hidden("pageNumber", (object)ViewBag.pageNumber)
            @Html.Hidden("categoryString", (object)ViewBag.categoryString)
            <input type="submit" name="submitUpdate" id="btnUpdate" class="btn btn-success update-btn-class" value="Update" disabled="disabled" />
        </div>
        <div class="myviewbtn">
            <input type="submit" name="submitViewCart" id="btnViewCart" class="btn btn-success" value="View cart" />
        </div>
    </div>

        }
